.banner {
  position: relative;
  padding: 4rem 2rem;
  color: white;
  text-align: center;
  overflow: hidden;
  background-color: #000;
}

.banner-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 2rem;
  text-align: center;

}